---
import { PROJECTS } from '../consts'

const projectAmount = PROJECTS.length
---

<header class="my-32">
    <section class="flex flex-col items-center justify-center gap-y-1">
        <span class="flex flex-row gap-x-4">
            <h1 class="text-black text-center text-9xl font-bold">
                {projectAmount.toString().padStart(2, "0")}
            </h1>
            <img class="w-32 h-32 rotate-6" src="/js.svg" alt="">
        </span>
        <h1 class="text-black text-center col-span-2 text-6xl font-bold uppercase bg-gradient-to-tr from-black to-yellow-400 bg-clip-text text-transparent">
            {projectAmount === 1 ? 'Project' : 'Projects'}
        </h1>
    </section>
</header>