---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Projects from '../sections/Projects.astro';
---

<Layout title="JS Projects">
	<div class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#fffdd0,transparent)]"></div>
	<Hero />
	<Projects />
</Layout>
